<string>Olá, {{name}}</string>
<p>Você acabou de se cadastrar na academia </p>
<p>
  <strong>O valor total do seu plano é de : </strong> {{price}}<br/>
  <strong>E se encerra </strong> {{date}} <br/>
  <br>

</p>
